body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #252422;
    color: #FFFCF2;
}

.icons {
    text-align: left;
    margin-bottom: 10px;
    font-size: 3rem;
    color: #dd5c5c;
    padding: 10px;
}

#PythonIcon {
    color: #3776AB;
}
#HTMLIcon {
    color: #e34c26;
}
#CSSIcon {
    color: #264de4;
}
#JSIcon {
    color: #F0DB4F;
}
#CPlusPlusIcon {
    color: #00599C;
}
#RustIcon {
    color: #CE412B;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin-left: 4%;
    margin-right: auto;
    padding: 60px 20px;
}

.hero {
    text-align: left;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0.9;
}

#githubButton {
    display: inline-block;
    background-color: #4790ff;
    color: white;
    text-decoration: none;
    padding: 11px 28px;
    border-radius: 10px;
    font-size: 1rem;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

#githubButton:hover {
    transform: translateY(-3px);
    background-color: #2a63c4;
}

.footnote {
    font-size: 0.8rem;
    color: #bbbbbb;
    margin-top: 40px;
    line-height: 1.4;
}

.creditLink {
    color: #dd5c5c;
}